#print-title {
	display: none;
}

#refrig-form {
	min-width: 97.5vw;
	max-width: 97.5vw;
	height: 95vh;
}

#title-logo {
	display: none;
	width: 200px;
}

#refrigerant-header {
	height: fit-content;
	text-align: left;
	padding-left: 10px;
	margin-bottom: 10px;
}
#refrigerant-header>div {
	font-size: 1.5rem;
}

.notif-card-header {
	min-height: fit-content;
	text-align: left;
	padding-left: 10px;
	margin-bottom: 10px;
}
.notif-card-header>div {
	font-size: 1.5rem;
}

.paragraph-cont {
	width: 35vw;
	text-align: left;
	font-size: 1.25rem;
}

#wide-paragraph {
	width: 57.5vw;
}

.paragraph-header {
	font-weight: 600;
}

#refrig-form-info {
	min-width: 60vw;
	max-width: 60vw;
}

.form-card {
	height: 85vh;
}

#form-info-main {
	width: 40vw;
}
 
#special-considerations {
	width: 20vw;
	max-height: 40vh;
	min-height: 40vh;
	filter: none;
	border: 1px solid #ccc;
}

.side-card-header>div {
	font-size: 1.15rem;
	color:#080808
}

#side-card-paragraph {
	text-align: left;
	color:#424242;
	font-size: 17.5px;
	width: 15vw;
}

#r-22-check {
	margin-top: 15px;
	margin-bottom: 0px;
}
#r-22-check>.form-info-title {
	font-size: 17.5px;
	font-weight: 600;
}

/*FORM*/
.form-info-item.info-form {
	display: grid;
	grid-template-columns: 30% 70%;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.form-info-item.info-form>.form-info-title {
	font-size: 1.25rem;
}

.form-info-item.info-form>input {
	height: 40px;
	font-size: 1rem;
	width: 100%;
}

.form-info-item.choices-checkbox {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content:start;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	gap: 20px;
}

.form-info-item.choices-checkbox>.form-info-title {
	font-size: 1.25rem;
	font-weight: 550;
	color:#121212;
}

/*Signature*/
.signature-cont {
	width: calc(100% - 20px);
}

#sig-box {
	height: 100px;
	width: 544px;
	background-color: #d3d3d3;
	border-radius: 10px;
	touch-action: none;
}

#submit-form {
	height: 50px;
	line-height: 50px;
	font-size: 1.25rem;
	font-weight: 600;
	margin-top: 10px;
	background-color: rgb(100, 121, 184);
	position: relative;
	bottom: 40px;
	left: 38.5%;
}
#submit-form:hover {
	background-color: rgb(68, 86, 138);
}

#acknowledgement-text {
	text-align: left;
	margin-bottom: 10px;
	font-size: 1.125rem;
	font-style: italic;
}

/*SCREEN QUERIES*/
@media screen and (max-width: 1200px) {
	#refrig-form {
		background-color: transparent;
		filter: none;
		overflow-y: overlay;
		overflow-x: hidden;
		min-width: 100vw;
		max-width: 100vw;
		height: 100vh;
	}
	#refrig-form>.card-menubar {
		display: none;
	}
	.card-content.flex-two-thirds {
		display: flex;
		flex-direction: column;
		gap: 25px;
	}
	#refrig-form-info {
		min-width: 95vw;
		height: fit-content;
	}
	#refrig-form-info>.card-content>.card-content.flex-half-n-half {
		display: grid;
		grid-template-columns: 65% 35%
	}
	#refrig-form-actions {
		min-width: 95vw;
		height: fit-content;
	}

	#wide-paragraph {
		width: 90vw;
	}
	#form-info-main {
		width: 60vw;
	}
	.paragraph-cont {
		width: 55vw;
	}
	#side-card-paragraph {
		width: 26.5vw;
	}
	#special-considerations {
		width: 30vw;
		min-height: 60vh;
	}
}
@media screen and (max-width: 900px) {
	#side-card-paragraph {
		width: 24vw;
	}
	#special-considerations {
		width: 30vw;
		min-height: 60vh;
	}
}

/*Phone Portrait*/
@media screen and (max-width: 600px) {
	#side-card-paragraph {
		width: 100%;
	}
	#form-info-main {
		width: 90vw !important;
	}
	.paragraph-cont {
		width: 100%;
	}
	#special-considerations {
		min-height: fit-content;
		min-width: 90vw !important;
		max-width: 90vw !important;
	}
	#refrig-form {
		width: 100vw;
	}
	.card-content.flex-half-n-half {
		display: unset !important;
	}
	.card-content.flex-two-thirds {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
	}
	#sig-box {
		width: 370px;
	}
	#clear-canvas {
		width: 165px;
		
	}
	#submit-form {
		left: 50%;
	}
	.card-menubar {
		display: none;
	}
	.card.form-card {
		padding: 0 !important;
		margin: 0 !important;
		filter: unset !important;
	}
}

@media print {
	body {
		background-color: transparent !important;
	}
	@page {
		margin: 0.25in;
	}
	#print-title {
		display: grid;
		grid-template-columns: 55% 70%;
	}
	#print-title-header {
		font-size: 2.5rem;
		border: 2px solid black;
		line-height: 0.9in;
	}
	#vogel-logo {
		height: 1in;
	}
	.card-content {
		padding: 0px !important;
		margin: 0px !important;
	}
	* { overflow: visible !important; } 
	.float-container.overlay {
		position: absolute;
		align-content: start;
		justify-content: start;
		background-color: transparent;
		left: 0px;
		top:0px;
		right: 0px;
		padding: 0px !important;
		margin: 0px !important;
		width: 0px !important;
		height: 0px !important;
	}
	#refrig-form {
		overflow: auto;
		background-color: transparent;
		filter: none;
		height: auto;
		margin: 0;
		padding: 0;
	}
	#refrig-form>.card-menubar {
		display: none;
	}
	#refrig-form>.card-content{
		margin: 0;
		padding: 0;
	}
	.card-content.flex-two-thirds {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
	}
	.card-content.flex-half-n-half {
		display: flex;
		flex-direction: column;
	}
	#refrig-form-info {
		min-width: 10in !important;
		height: fit-content;
		filter: none;
		margin: 0;
		padding: 0;
	}
	#form-info-main {
		width: 10in !important;
	}
	#form-info-main>.paragraph-cont,
	#form-info-main>.paragraph-cont>.numbered-list>.list-item {
		width: 10in !important;
	}
	#refrig-form-info>.card-menubar {
		display: none;
	}
	#refrig-form-actions {
		min-width: 10in;
		height: fit-content;
		filter: none;
	}
	#refrig-form-actions>.card-menubar {
		display: none;
	}

	#wide-paragraph {
		font-size: 1.25rem;
	}
	.paragraph-cont {
		font-size: 1.25rem;
		padding: 0.04in;
	}
	#side-card-paragraph,
	#side-card-paragraph>.paragraph-body {
		width: 10in !important;
		height: min-content;
		overflow: auto;
		color: #000000;
		margin: 0;
		padding: 0;
	}
	#special-considerations,
	#special-considerations-card-content,
	#special-considerations-card-content>.card-content {
		width: 10in !important;
		max-height: min-content !important;
		min-height: min-content !important;
		margin: 0;
		padding: 0;
		border: 0px;
		font-size: 1.25rem !important;
	}
	#side-card-paragraph {
		font-size: 1.25rem !important;
	}
	.form-info-item.choices-checkbox {
		height: min-content;
		padding: 0;
		margin: 0;
	}
	.header.notif-card-header {
		display: none;
	}
	.action-button {
		display: none;
	}
	.checkbox-cont {
		border: 0px !important;
		border-radius: 0px !important;
		border-bottom: 2px solid black !important;
	}
	.checkbox-check {
		background-color: transparent !important;
		filter: none !important;
		border: 0px !important;
		border-radius: 0px !important;
	}
	.form-info-title {
		font-size: 1.25rem !important;
	}
	#refrig-form-actions {
		width: 12in !important;
	}
	/*Customer inputs*/
	#refrig-form-actions-card-content {
		padding: 0;
		margin: 0;
	}
	#refrig-form-actions-card-content>.card-content {
		padding: 0px;
		margin: 0px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
	#refrig-form-actions-card-content>:nth-child(2) {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
	#refrig-form-actions-card-content>.card-content>.form-info-item {
		display: grid;
		grid-template-columns: 30% 60%;
		align-items: center;
		justify-content: center;
		height: 0.5in;
	}
	#refrig-form-actions-card-content>:nth-child(2)>.form-info-item {
		grid-template-columns: 15.5% 79.5%;
	}
	#refrig-form-actions-card-content>.card-content>.form-info-item>input {
		height: 100% !important;
		border-radius: 0px;
		border: 0px;
		border-bottom: 2px solid black;
	}
	#refrig-form-actions-card-content>.card-content>.form-info-item>.form-info-title {
		font-size: 0.15in;
	}
	.signature-cont {
		display: flex !important;
		flex-direction: column !important;
		align-items: center;
		justify-content: center
	}
	#acknowledgement-text {
		margin-left: 0.5in;
	}
	#r-22-check {
		display: grid;
		grid-template-columns: 35% 62.5% !important;
	}
}


/*SCROLLBAR WEBKIT*/
*::-webkit-scrollbar {
    display: block;
    width: 8px;
}
*::-webkit-scrollbar-button {
    display: none;
}
*::-webkit-scrollbar-track {
    background-color: #00000000;
}
*::-webkit-scrollbar-track-piece {
    background-color: #00000000;
}
*::-webkit-scrollbar-thumb {
    background-color: #000000c7;
    border: 1px solid #00000040;
    border-radius: 12px;
}